# typeorm
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = msal
TYPEORM_PASSWORD = postgres
TYPEORM_DATABASE = hassahbook
TYPEORM_PORT = 5432
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = src/entity/*.*
TYPEORM_MIGRATIONS = src/migration/*.*
TYPEORM_MIGRATIONS_DIR = src/migration/

# seeding
TYPEORM_SEEDING_FACTORIES = src/factories/*.*
TYPEORM_SEEDING_SEEDS = src/seeds/*.*

# jwt
JWT_ACCESS_SECRET = myjwtsecret
JWT_REFRESH_SECRET = myotherjwtsecret

# google cloud
GOOGLE_CLOUD_API_KEY = YOUR_KEY_HERE

#app
PORT = 4000
